---
title: Activities and Templates - Landing
page: true
model:
  nav: ../../components/main-navigation/json/mega-navigation-digital-nsw.json
  breadcrumbs: ../../components/breadcrumbs/json/breadcrumbs.json
  footer: ../../components/footer/json/footer.json
---

{{>_header content="#content" nav="#main-navigation"}}
{{>_main-navigation model.nav}}


<div class="nsw-container nsw-p-bottom-xs">
  <nav aria-label="Breadcrumbs" class="nsw-breadcrumb">
    <ol class="nsw-breadcrumb__list">
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Home</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Digital Service Toolkit</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link">Resources</a>
      </li>
      <li class="nsw-breadcrumb__item">
        <a href="#" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Activities and templates</a>
      </li>
    </ol>
  </nav>
</div>

<main class="nsw-research" id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-12">
              <h1 >Activities and templates</h1>
              <hr />
            </div>
            <div class="nsw-col nsw-col-12 nsw-col-lg-6">
              <p class="nsw-intro">Do research that delivers, with ready-to-use activities and templates from a community of NSW Government's leading researchers & designers.</p>
            </div>
            <div class="nsw-col nsw-col-12 nsw-col-lg-6">
              <ul class="nsw-icon-list">
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Easy to follow with step-by-step instructions and examples</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Proven to deliver and drive government projects forward</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Adaptable to different contexts or industries</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Know how to progress with next steps and output templates</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
      <div class="nsw-container">
        <div class="nsw-page-layout">
          <div class="nsw-page-layout__main">
            <div class="nsw-grid">
              <div class="nsw-col nsw-col-lg-7">
                <h3><a href="#">Turning findings into insights you can action</a></h3>
                <p><strong>Activity template by Design System Team </strong></p>
                <ul class="nsw-icon-list nsw-icon-list--inline">
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">schedule</i>
                    <span>1 Day</span>
                  </li>
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">groups</i>
                    <span>2+ team members</span>
                  </li>
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">wysiwyg</i>
                    <span>Miro (PDF, PowerPoint)</span>
                  </li>
                </ul>
                <p>Using this activity, take your research findings and use them to help you create insights that inspire action in your team and motivate decision makers.</p>
                <ul class="nsw-icon-list nsw-icon-list--inline">
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                    <span>Instructions</span>
                  </li>
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                    <span>Examples</span>
                  </li>
                  <li>
                    <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                    <span>Pro Tips</span>
                  </li>
                </ul>
              </div>
              <div class="nsw-col nsw-col-lg-5">
                <p><img class="nsw-image" src="https://digitalnsw.github.io/nsw-ds-prototype/assets/images/rah-activity.png" alt=""></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2 class="nsw-section-title">Preparation for research</h2>
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              <div class="nsw-research-card">
                <div class="nsw-research-card__content">
                  <p class="nsw-research-card__tag">Activity</p>
                  <h4>
                    <a class="nsw-research-card__link" href="#">Turning findings into insights you can action</a>
                  </h4>
                  <p class="nsw-research-card__author">By Design System Team</p>

                  <ul class="nsw-icon-list">
                    <li>
                      <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">schedule</i>
                      <span>1 Day</span>
                    </li>
                    <li>
                      <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">groups</i>
                      <span>2+ team members</span>
                    </li>
                    <li>
                      <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">wysiwyg</i>
                      <span>Miro (PDF, PowerPoint)</span>
                    </li>
                  </ul>
                  <i class="material-icons nsw-material-icons nsw-research-card__icon" focusable="false" aria-hidden="true">east</i>
                </div>
              </div>
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Cyber Security NSW - 2020 year in review"
                img="https://picsum.photos/id/3/400/200"
                tag="Cyber Security"
                date="21 Jan 2021"
                date-machine="2021-01-21"
              }}
            </div>
            <div class="nsw-col nsw-col-md-6 nsw-col-lg-4">
              {{>_card 
                heading= "Transforming transportnsw.info"
                img="https://picsum.photos/id/524/400/200"
                tag="Transport for NSW"
                date="28 Nov 2020"
                date-machine="2020-11-28"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{>_footer model.footer}}
